body {
  margin: 0;
  width: 1277px;
  height: 841px;
  background: #111;
  color: white;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
}

#video-container {
  width: 1277px;
  height: 712.86px;
}

iframe {
  width: 1277px;
  height: 712.86px;
  border: none;
}

#info-container {
  width: 1277px;
  height: 128px;
  background: #FDFAF4;
  padding: 10px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #FC3085;
  font-family: "obviously", sans-serif;
}

#creator, #date, #views {
  font-size: 18px;
  color: #018F8C;
}

.clip-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
}

.clip-wrapper iframe {
  position: absolute;
  width: 150%;
  height: 150%;
  top: -100px;
  left: -200px;
  transform: scale(1.2);
  transform-origin: center;
  pointer-events: none;
}

/* Flash blanc */
.zapping-flash {
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.zapping-flash.active {
  animation: zap 0.4s ease-out;
}

@keyframes zap {
  0% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}

